DATABASE_URL="postgresql://postgres:postgres@localhost:5432/payment_system?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/payment_system?schema=public"
JWT_SECRET="change-this-to-a-long-random-string-minimum-32-chars"
NEXT_PUBLIC_SENTRY_DSN=""
